<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand"  href="">AMAZON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="">Store <span class="sr-only">(current)</span></a> -->
            </li>
       
          </ul>
          <div class="form-inline my-2 my-lg-0" style="right: 20px;">
               <a href="#"class="btn btn-warning">Login</a>
               <a href="#"><img  id="cart-icon" src="">
            </a>

      
          </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <div class="row">
          <div class="col-lg-4">
                <img class="thumbnail" width=100% height=65% src="https://storage.sg.content-cdn.io/cdn-cgi/image/%7Bwidth%7D,%7Bheight%7D,quality=75,format=auto/in-resources/7f703506-689d-4b4e-b482-c32d60769d33/Images/ProductImages/Source/Swag%20Pro%20Bluetooth%20Calling%20Smartwatch.jpeg">
                <div class="box-element product my-3">
                    <h3><strong>Watch</strong></h3>
                    <hr>
            
                    <button  class="btn btn-success add-btn">Buy Now</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$500</strong></h4>
            
                </div>
            </div>
        

          <div class="col-lg-4">
                <!-- <img class="thumbnail" width=100% height=65% src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"> -->
                <img class="thumbnail" width=100% height=65% src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/15-3530-intel/pdp/inspiron-laptop-15-3530-intel-pdp-hero.psd?fmt=png-alpha&wid=570&hei=400&fit=constrain%2C1&qlt=90">
                <div class="box-element product my-3">
                    <h3><strong>Laptop</strong></h3>
                    <hr>
            
                    <button  class="btn btn-success add-btn">Buy Now</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$1000</strong></h4>
            
                </div>
            </div>
        
          <div class="col-lg-4">
                <img class="thumbnail" width=100% height=65% src="https://carltonlondon.co.in/cdn/shop/products/1-_281_29.jpg?v=1671167880&width=416">
                <div class="box-element product my-3">
                    <h3><strong>Perfume</strong></h3>
                    <hr>
            
                    <button  class="btn btn-success add-btn">Buy Now</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
            
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                  <img class="thumbnail" width=100% height=65% src="https://backend.orbitvu.com/sites/default/files/image/sport-shoe-white-background.jpeg">
                  <div class="box-element product my-3">
                      <h3><strong>Shoe</strong></h3>
                      <hr>
              
                      <button  class="btn btn-success add-btn">Buy Now</button>
                      <a class="btn btn-outline-success" href="#">View</a>
                      <h4 style="display: inline-block; float: right"><strong>$100</strong></h4>
              
                  </div>
              </div>
          
  
            <div class="col-lg-4">
                  <!-- <img class="thumbnail" width=100% height=65% src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"> -->
                  <img class="thumbnail" width=100% height=65% src="https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1680030998.0464825!380x380.jpg">
                  <div class="box-element product my-3">
                      <h3><strong>Phone</strong></h3>
                      <hr>
              
                      <button  class="btn btn-success add-btn">Buy Now</button>
                      <a class="btn btn-outline-success" href="#">View</a>
                      <h4 style="display: inline-block; float: right"><strong>$700</strong></h4>
              
                  </div>
              </div>
          
            <div class="col-lg-4">
                  <img class="thumbnail" width=100% height=65% src="https://m.media-amazon.com/images/I/51ebZJ+DR4L._AC_UF1000,1000_QL80_.jpg">
                  <div class="box-element product my-3" >
                      <h3><strong>Banana</strong></h3>
                      <hr>
              
                      <button  class="btn btn-success add-btn">Buy Now</button>
                      <a class="btn btn-outline-success" href="#">View</a>
                      <h4 style="display: inline-block; float: right"><strong>$2</strong></h4>
              
                  </div>
              </div>
          </div>
    </div>

    <div class="container">
        <!-- Chat widget button -->
        <button id="chat-widget-button"  class="btn btn-primary position-fixed chat-sign-button" style="width: 200px; height: 50px; bottom: 20px; right: 20px;">Chat with me!</button>

        <!-- Chatbox -->
        <div id="chat-widget" class="card position-fixed shadow d-none" style="bottom: 100px; right: 20px; width: 400px;">
            <div class="card-header bg-primary text-white">
                Chatbot
                <button id="chat-widget-close-button" type="button" class="btn-close float-end" aria-label="Close"></button>
            </div>
            <div class="card-body" id="chat-widget-messages" style="max-height: 500px; overflow: auto;">
                
                <!-- Chat messages will be appended here -->
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="chat-widget-input" placeholder="Type your message...">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            // Chat widget button
            $("#chat-widget-button").click(function(){
                $("#chat-widget").toggleClass("d-none");
            });

            // Chat widget close button
            $("#chat-widget-close-button").click(function(){
                $("#chat-widget").addClass("d-none");
            });

            // Chat widget input
            $("#chat-widget-input").keypress(function(e){
                if(e.which == 13){
                    let userMessage = $(this).val();
                    $(this).val("");
                    $("#chat-widget-messages").append("<div><strong>You:</strong> "+userMessage+"</div>");
                    $("#chat-widget-messages").stop().animate({ scrollTop: $("#chat-widget-messages")[0].scrollHeight}, 1000);
                    $.ajax({
                        type: "POST",
                        url: "/webhook",
                        contentType: "application/json",
                        data: JSON.stringify({message: userMessage}),
                        success: function(response){
                            let botResponse = response["response"];
                            $("#chat-widget-messages").append("<div><strong>Bot:</strong> "+botResponse+"</div>");
                            $("#chat-widget-messages").stop().animate({ scrollTop: $("#chat-widget-messages")[0].scrollHeight}, 1000);
                        },
                        error: function(error){
                            console.log(error);
                        }
                    });
                }
            });
        
        })
    </script>

</body>
</html>